page-historico {

.toolbar-title.toolbar-title-md {
    text-align: center;
    font-size: 25px;
}

button.btnatualizar.disable-hover.button.button-md.button-default.button-default-md {
    border-radius: 8px;
    font-size: 14px;
}

button.btnlimpar.disable-hover.button.button-md.button-default.button-default-md {
    border-radius: 8px;
    font-size: 14px;
}

.bg-fundo{
    background: url("../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    
}

}
