page-contact {

ion-label.label.label-md {
    text-align: center;
    font-size: 20px;
}

.cardsobre {
    text-align: center;
    font-size: 20px;
}

.toolbar-title.toolbar-title-md {
    text-align: center;
    font-size: 25px;
}

.fundo-background{
    background: url("../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    
}

}
