page-home {
.toolbar-title.toolbar-title-md {
    font-size: 25px;
}

ion-label.label.label-md {
    text-align: center;
    font-size: 18px;
}
.button-md {
    border-radius: 8px;
   	font-size: 20px;
    margin-left: 35px;
    height: 50px;
   
}
input.text-input-md {
    text-align: center;
}
input.text-input.text-input-md {
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
}

div#alert-msg-1 {
    font-size: 18px;
}
ion-input#cep {
    background-color: #ecebe7;
    margin-top: 5px;
    border-radius: 8px;
}
ion-card.card.card-md {
    padding: 10px;
}
.exibiralert {
    font-size: 17px;
}

.imagem-de-fundo{
    background: url("../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    
}

}

